<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="google-site-verification" content="AJjIL7Q1rwvHDIZSnK9cGktQOfxrMhUoS6L5GVvalT4" />
    <meta name="description" content="EzBimay official website.">
    <meta name="keywords" content="ezbimay, EzBimay, savageRex, Eris Suryaputra">
    <title>EzBimay - Homepage</title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

<style>
.collapsible {
  background: transparent;
  cursor: pointer;
  padding: 18px;
  width: auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\02C3';
  font-weight: bold;
  float: left;
  margin-left: 5px;
}

.active:after {
  content: "\02C5";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>

  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <h3 class"instruction2">Download here:</h3>
        <h4 class"instruction4">Regular user is recommended to download from here.</h4>
        <a href="https://github.com/savageRex/EzBimay/releases/download/1.1.5/EzBimay_with_jre_macos-x64.dmg" class="btn">Download EzBimay for macOS</a>
        <a href="https://github.com/savageRex/EzBimay/releases/download/1.1.5/EzBimay_with_Java_Setup.zip" class="btn">Download EzBimay for Windows</a>
        <br>
      <button class="collapsible">Advanced user only.</button>
        <div class="content">
        <h4 class"instruction3">Special for Java 8 users only, download EzBimay at smaller size from here.<br>For Java 9, 10, and 11 users, unfortunately you must download from the first one.</h4>
        <a href="https://github.com/savageRex/EzBimay/releases/download/1.1.5/EzBimay_macos-x64.dmg" class="btn">Download EzBimay for macOS (Java 8 Edition)</a>
        <a href="https://github.com/savageRex/EzBimay/releases/download/1.1.5/EzBimay_Setup.zip" class="btn">Download EzBimay for Windows (Java 8 Edition)</a>
        </div>
        <h3 class"instruction3">How to open:</h3>
        <a href="https://savagerex.github.io/EzBimay/#help-i-cant-open-the-program-macos" class="btn">macOS</a>
        <a href="https://savagerex.github.io/EzBimay/#help-i-cant-open-the-program-windows" class="btn">Windows</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
    
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
    
  </body>
</html>
